.menu {
    background-color: #8470FF;
    display: flex;

}
.menu a {
    color: white;
    padding: 24px;

}

.menu a:hover {
    background-color: #BCE2C9;
    color: white;

}

@media screen and (max-width:600px) {
    .menu {
        flex-direction: column
    }
    .menu a {
        text-align: center;
        text-decoration: none; 
    }

}